@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;

  @apply max-w-[1630px] mx-auto dark:bg-dark bg-white overflow-auto font-signika
}


@font-face {
  font-family: "Signika";
  src: url("/fonts/Signika-VariableFont_GRAD,wght.ttf");
}